*{
    margin: 0;
    padding: 0;
}
.pc-public{
    width: 1224px;
    margin: 0 auto;
}
a:hover,a:active,a:link{
text-decoration: none;
color: #cccccc;
}
ul{
    list-style: none;
}
.fl{
    float: left;
}
.fr{
    float: right;
}
.clearfix::after {
    content: ".";
    clear: both;
    display: block;
    overflow: hidden;
    font-size: 0;
    height: 0;
}
span,a{
    font-size: 12px;
}
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}
::-webkit-scrollbar-track-piece {
    background-color: rgba(0, 0, 0, 0.2);
    -webkit-border-radius: 6px;
}

::-webkit-scrollbar-thumb:vertical {
    height: 5px;
    background-color: rgba(125, 125, 125, 0.7);
    -webkit-border-radius: 6px;
}

::-webkit-scrollbar-thumb:horizontal {
    width: 5px;
    background-color: rgba(125, 125, 125, 0.7);
    -webkit-border-radius: 6px;
}